<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabela produktów</title>
</head>
<body>
<form method="post" th:action="@{index/tabela.html}" th:object="${product}">
<table>
    <tr>
        <th>Nazwa i cena produktów</th>
    </tr>
    <tbody>
    <tr th:each="product: ${product}">
        <td th:text="|${product.name}|">Nazwa produktu.
        <td th:text="|${product.price}|">Cena produktu.
    </tr>
    </tbody>
</table>
</form>
</body>
</html>