<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabela produktów</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>nazwa</th>
        <th>ceny produktów</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product: ${tabela}">
        <td th:text="|${product.name}|">Nazwa produktu.
        <td th:text="|${product.price}|">Cena produktu.
    </tr>
    </tbody>
</table>
    <h2 th:text="|Suma cen: ${sumaCen}|"></h2>
</body>
</html>